//- -*- tab-width: 2 -*-
extends ../../includes/layout

block vars
  - var ngAppDef = 'ReviewStatus'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/admin/documents/reviewStatus.js')

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/' + competition._id)") {{reviewStatus.competitonName}}
    a.breadcrumb-item(ng-click="go('/admin/' + competition._id + '/documents')") Document settings
    span.breadcrumb-item.active ReviewStatus



block content
  .row
    .col-12
      h1 Review Status - {{reviewStatus.competitonName}}

      hr

      table.custom(style="margin-bottom:20px;")
        thead
            tr
              th {{"admin.users.name" | translate}}
              th(ng-repeat="league in leagues") {{league.name}}
        tbody
            tr(ng-repeat='user in reviewStatus.reviewStatus | orderBy:"[userName]"')
              td(ng-bind='user.userName')
              td(ng-repeat="league in leagues")
                div(ng-repeat='team in user.assignedTeams[league.id] | orderBy:"[code, name]"')
                  span.badge(ng-click="goReviewed(team._id)" ng-class="getBadgeColor(team)" style="font-size: 12px;margin: 1px 0 1px 0") {{team.code}} {{team.name}} | 
                    i.fas.fa-tasks &nbsp;
                    | {{team.answeredQuestionsNum}} / {{team.assienedQuestionsNum}}
              